.jumbotron {
    padding-top: 6rem;
    background-color: #b9b9b9;
    background-size: cover;
}


.main-judul {
    color: #ffffff;
}

#gallery {
    background-color: #b9b9b9;
}

section {
    padding-top: 5rem;
}